@{
    ViewBag.Title = "Change_Request";
}
@Html.Partial("Menu")
<style>
textarea{
        width:50%;
}
    </style>

<h2>Change Request Form</h2>


 
    <div  class="col-6 col-sm-6">
   
    <table class="table table-striped">
    <tr>
    <td class="style1">
        <label id="PassID">PassID</label></td>
      <td>  <input type="text" class="form-control" ID="TextBox1"  /></td>
    </tr>

    <tr>
     <td >  <label ID="Date">Date</label></td> 
      <td>  <input type="date"class="form-control"  ID="TextBox2"   /></td> 
    </tr>    

   <tr>
    <td >   <label ID="Time" >Time</label></td> 
       <td> <input type="time"class="form-control"  ID="TextBox3"  /></td>
    </tr>

    <tr>
      <td >  <label ID="OwnerName">Owner Name</label></td>
       <td> <input type="text"class="form-control"  ID="TextBox4"  /></td>
    </tr>

    <tr>
       <td > <label ID="Designation">Designation</label></td>
        <td><input type="text"class="form-control"  ID="TextBox5"  /></td>
        </tr>

        <tr>
       <td > <label ID="Department">Department</label></td>
        <td><select ID="DropDownList1" class="form-control"  ></select></td>
        </tr>

        <tr>
        <td >
            <label ID="Authorized">Is authorized to:</label></td>
            <td>
                <input type="checkbox" ID="CheckBox1"  />Asset Movement<b>(temporary)</b> <br />               
                <input type="checkbox" ID="CheckBox2" />Receiving<br />
                <input type="checkbox" ID="CheckBox3"  />Removal<b>(Asset removal pass to be filled and record)</b></td>
        </tr>
        <tr>
        <td ><label ID="AssetID">TCS PS Asset ID</label></td>
        <td><input type="text" ID="TextBox6"  class="form-control"  /></td>
        </tr>

        <tr>
        <td ><label ID="ManufacturerSrNo" >Manufacturer Sr. No.</label></td>
        <td><input type="text" ID="TextBox7"class="form-control"   /></td>
        </tr>

        <tr>
       <td > <label ID="MakeModel">Make/Mode</label></td>
       <td><input type="text" ID="TextBox8" class="form-control"  /></td>
        </tr>

        <tr>
       <td > <label ID="Details">Asset Details</label></td>
       <td> <textarea class="form-control"></textarea></td>
        </tr>

        <tr>
        <td ><label ID="Quantity">Quantity</label></td>
       <td> <input type="text" ID="TextBox10" class="form-control" /></td>
        </tr>

        <tr>
        <td ><label ID="Purpose">Purpose</label></td>
        <td><textarea  class="form-control"   ></textarea></td>
        </tr>

        <tr>
        <td >
            <label ID="rmr">Asset receiving/removal/movement date</label></td>
            <td>
                <input type="date" ID="TextBox13" class="form-control" /></td>
        </tr>

        <tr>
        <td class="style1">
            <label ID="ReturnDate">Tentative date of return of the asset (if this is asset movement)</label></td>
            <td>
                <input type="date" ID="TextBox14"class="form-control" /></td>
        </tr>

        <tr>
        <td class="style1"><label ID="Remarks"  Text="Remarks"></label></td>
        <td><textarea class="form-control" ></textarea></td>
        </tr>
     </table>  
     
       
        <br /><br />     
        
        
                <input type="button" class="btn btn-info" id="Button1"  value="Sumbit" />

      
    </div>
    
 
@Html.Partial("Footer")