@{
    ViewBag.Title = "Index Page";
}
       <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <pre style="background-color:deepskyblue;"> <h5> Check In Processes </h5></pre>

          <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
                      <table class="table table-striped">  
        <thead>  
          <tr>  
            <th>Process Name</th>  
            <th>Process Check In Date</th>  
            <th>Death Line</th>  
            
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td>Hiring Process</td>  
            <td>12/05/2014</td>  
            <td>20/05/2014</td>  
             
          </tr>  
          <tr>  
             <td>Hiring Process</td>  
            <td>12/05/2014</td>  
            <td>20/05/2014</td>  
          </tr>  
          <tr>  
             <td>Hiring Process</td>  
            <td>12/05/2014</td>  
            <td>20/05/2014</td>   
          </tr>  
        </tbody>  
      </table>  



            </div><!--/span-->       
          </div><!--/row-->
        </div><!--/span-->

     


        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <pre style="background-color:deepskyblue;"> <h4> Check In Processes </h4></pre>

          <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
                      <table class="table table-striped">  
        <thead>  
          <tr>  
            <th>Process Name</th>  
            <th>Process Check In Date</th>  
            <th>Death Line</th>  
            
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td>Hiring Process</td>  
            <td>12/05/2014</td>  
            <td>20/05/2014</td>  
             
          </tr>  
          <tr>  
             <td>Hiring Process</td>  
            <td>12/05/2014</td>  
            <td>20/05/2014</td>  
          </tr>  
          <tr>  
             <td>Hiring Process</td>  
            <td>12/05/2014</td>  
            <td>20/05/2014</td>   
          </tr>  
        </tbody>  
      </table>  



            </div><!--/span-->       
          </div><!--/row-->
        </div><!--/span-->
