@{
    ViewBag.Title = "InitiateProcess";
}

 @Html.Partial("Menu") 

 <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <pre style="background-color:deepskyblue;"> <h5> InitiateProcess </h5></pre>

          <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
          <table class="table table-striped">  
        <thead>  
          <tr>  
            <th>Process Name</th>  
              <th> </th>
            <th>Initiat</th>             
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td>Hiring Process</td>  
              <td></td>  
            <td><button type="button" class="btn btn-primary">Initiat This Process</button></td>  
              </tr>  
          <tr>  
            <td>Buying Parts</td>  
              <td></td> 
            <td><button type="button" class="btn btn-primary">Initiat This Process</button></td>   
          </tr>  
          <tr>  
             <td>Incident Process</td>  
              <td></td> 
             <td><button type="button" class="btn btn-primary">Initiat This Process</button></td>  
          </tr>  
        </tbody>  
      </table>  



            </div><!--/span-->       
          </div><!--/row-->
        </div><!--/span-->
 @Html.Partial("Footer") 