@{
    ViewBag.Title = "WorkflowRecords";
}
@Html.Partial("Menu")
    

<div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <pre style="background-color:deepskyblue;"> <h5> Workflow Records </h5></pre>

          <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
          <table class="table table-striped">  
        <thead>  
          <tr>  
            <th>Workflow Name</th>  
            <th>Start date</th>
            <th>End date</th>
            <th>Individual Records</th>             
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td>Hiring Process</td>  
            <td>05/11/2013</td>
            <td>15/11/2013</td>    
            <td><button type="button" class="btn btn-primary">Performance</button></td>  
           </tr>  
          <tr>  
           <td>Hiring Process</td>  
            <td>05/11/2013</td>
            <td>15/11/2013</td>    
            <td><button type="button" class="btn btn-primary">Performance</button></td> 
          <tr>  
             <td>Hiring Process</td>  
            <td>05/11/2013</td>
            <td>15/11/2013</td>    
            <td><button type="button" class="btn btn-primary">Performance</button></td> 
          </tr>  
            <tr>  
             <td>Hiring Process</td>  
            <td>05/11/2013</td>
            <td>15/11/2013</td>    
            <td><button type="button" class="btn btn-primary">Performance</button></td> 
          </tr>  
            <tr>  
             <td>Hiring Process</td>  
            <td>05/11/2013</td>
            <td>15/11/2013</td>    
            <td><button type="button" class="btn btn-primary">Performance</button></td> 
          </tr>  
        </tbody>  
      </table>  



            </div><!--/span-->       
          </div><!--/row-->
        </div><!--/span-->


  @Html.Partial("Footer") 