@model MvcTesting.Models.activity
@{
    ViewBag.Title = "adding";
}

<h2>adding</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
}
 <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

 @*<div id="dynamictable"></div>*@
    <button class="btn btn-info" type="button" id="button"><b>+</b>Add</button>
<script>
     $(document).ready(function () {
        $("#button").click(function () {
            $('#abc').append('<tr></tr>');
            var table = $('#abc').children();
            table.append('<td>Originator Name</td><td><select name="mydropdown"><option value="E_ID"></option><option value="Cheese">Old Cheese</option><option value=Bread">Hot Bread</option></select></td><td><input type="checkbox" /></td><td>Input</td><td><input type="checkbox" /></td><td>Decision</td><td><input type="checkbox" /></td><td>Review</td>');
           // table.append("<tr><td>a</td><td>b</td></tr>");

        });
    });
   
</script> 



<div>
    <table id="abc">
       <tbody>
       <tr id="row">
           <td>Originator Name</td>
           <td><select name="mydropdown"><option  value="model => model.E_ID" > </option></select></td>
           <td><input type="checkbox" /></td>
           <td>Input</td>
           <td><input type="checkbox" /></td>
           <td>Decision</td>
           <td><input type="checkbox" /></td>
           <td>Review</td>
           
          
        </tr>
            </tbody>
    </table>
    <input class="btn btn-info" type="submit" value="Save" />
       
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}